body{
    max-width: 100%;
    background-color: #5e5f91;;
}

a:hover{
    color: rgb(48, 141, 91);
}

#navigationbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: rgb(222, 222, 120);
    width: 100%;
    min-height: 10%;
    position:fixed;
    top: 0%;
}

#navigationitems{
    width: 20%;

    text-align: center;
    font-size: 100%;
}

.container{

    display: flex;
    flex-direction: column;
    
    background-color: #a2c0c8;
    justify-content: center;
    padding: 10%;
    margin:  5%;

    text-align: justify;
}


h1{
    text-align: center;
    color:rgb(30, 30, 133);
}

img{
    width: 40%;
    height: 36%;
    max-width: 750px;
}

#display_imgs{
    display: grid;
    grid-template-columns: auto auto auto;
}

#Malls{
    border-radius: 25px;
    border: 2px solid #434513;
    transition: background-color 0s, transform 0.4s;
}

#Malls:hover{
    background-color: rgb(149, 160, 88);
    border-radius: 25px;
    transform: scale(1.02);
}

#MC{
    margin: 4%;
}

#study{
    border-radius: 25px;
    border: 2px solid #434513;
    transition: background-color 0s, transform 0.4s;
}

#study:hover{
    background-color: rgb(149, 160, 88);
    border-radius: 25px;
    transform: scale(1.02);
}

#SC{
    margin: 4%;

}

#life{
    border-radius: 25px;
    border: 2px solid #434513;
    transition: background-color 0s, transform 0.4s;
}

#life:hover{
    background-color: rgb(149, 160, 88);
    border-radius: 25px;
    transform: scale(1.02);
}

#LC{
    margin: 4%;
}

#Domitories{
    border-radius: 25px;
    border: 2px solid #434513;
    transition: background-color 0s, transform 0.4s;
}

#Domitories:hover{
    background-color: rgb(149, 160, 88);
    border-radius: 25px;
    transform: scale(1.02); 
}

#DC{
    margin: 4%;
}

/* extra selector components can be filled below */
@media all and (max-width: 850px){
    #navigationbar{
        transform: scale(0.6,0.6);
        transform-origin: center;
    }
    
    #navigationitems{
        transform: scale(0.9,0.9);
        transform-origin: center;
    }
}

@media all and (max-width: 300px){
    #navigationbar{
        transform: scale(0,0);
        transform-origin: center;
    }
    
    #navigationitems{
        transform: scale(0,0);
        transform-origin: center;
    }
}