

#navigationbar{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;

    position:fixed;
    max-width: 50%;
    top: 0%;
}

#navigationitems{
    margin: 5%;
    padding: 2%;
    text-align: start;
    font-size: small;
}