body{
    max-width: 100%;
    background-color: #5e5f91;;
}

#navigationbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: rgb(135, 194, 128);
    width: 100%;
    min-height: 10%;
    position:fixed;
    top: 0%;
}

#navigationitems{
    width: 20%;

    text-align: center;
    font-size: 100%;
}

.container{

    display: flex;
    flex-direction: column;
    
    background-color: #a2a2c8;
    justify-content: center;
    padding: 10%;
    margin:  5%;

    text-align: justify;
    border: 2px solid black;
}


h1{
    text-align: center;
    color: rgb(30, 30, 133);
}

img{
    width: 80%;
}
/* extra selector components can be filled below */

.introduction-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    transition: background-color 0.3s, transform 0.3s; 
    border: 2px solid black;
}

.introduction-section:hover {
  background-color: #007bff; 
  transform: scale(1.03); 
  border-radius: 8px; 
}

.outdooractivities-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    transition: background-color 0.3s, transform 0.3s; 
    border: 2px solid black;
}

.outdooractivities-section:hover {
  background-color: #007bff; 
  transform: scale(1.03); 
  border-radius: 8px; 
}

.entertainment-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    transition: background-color 0.3s, transform 0.3s; 
    border: 2px solid black;
}

.entertainment-section:hover {
  background-color: #007bff; 
  transform: scale(1.03); 
  border-radius: 8px; 
}
